@charset "uft-8";
/* 배경 컬러 */
.gray-background {
	background-color: #f5f5f7;
	overflow: hidden;
} 
.White-background {
	background-color: #fff;
	overflow: hidden;
} 

/* 공통 타이틀 제목 */
.link-title {
	font-size: 40px;
	font-weight: 600;
	color: #1d1d1f;
}

/* 폰트 컬러 */
.txt{
	color:#1d1d1f;
	text-align: center;
}
.cs-link a span{
	color:#0066cc;
  display: block;
  text-align: center;
}
strong{
  font-size: 40px;
  text-align: center;
  display: block;
  letter-spacing: 0;
}

/* div 테두리 */
.inner-cs{
  border-radius: 20px;
  box-sizing: border-box;
}

/* 접근성 */
.txt-inden{
	position: absolute;
	text-indent: -9999px;
	color: initial;
}

/* 웹폰트 */
/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

/** Bold */ 
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}