@charset "uft-8";

body{
	word-break: keep-all;
	box-sizing: border-box;
}
/* .wraping{
	width: 980px;
	margin: 0 auto;
} */
.gray-background {
	background-color: #f5f5f7;
} 
.White-background {
	background-color: #fff;
  
} 
.link-title {
	font-size: 40px;
	font-weight: 600;
	color: #1d1d1f;
	padding: 20px 0;
}
.txt{
	color:#1d1d1f;
	text-align: center;
}
.cs-link a span{
	color:#0066cc;
  display: block;
  text-align: center;
}
strong{
  font-size: 40px;
  text-align: center;
  display: block;
  letter-spacing: 0;
}
.inner-cs,.inner-cs1{
  border-radius: 20px;
  box-sizing: border-box;
  padding: 30px;
}


/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

/** Bold */ 
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}