@charset "uft-8";

body{
	word-break: keep-all;
	box-sizing: border-box;
}
.gray_background {
	background-color: #f5f5f7;
} 
.White_background {
	background-color: #fff;
} 
.link-title {
	font-family: "SF Pro KR", "SF Pro Display", "SF Pro Icons", "Apple Gothic",
	"HY Gulim", "MalgunGothic", "HY Dotum", "Lexi Gulim", "Helvetica Neue", 
	"Helvetica", "Arial", sans-serif; 
	font-size: 40px;
	font-weight: 600;
	color: #1d1d1f;
}
.txt{
	color:#1d1d1f;
	text-align: center;
}
.cs-link span a{
	color:#0066cc;
}