@charset "uft-8";

.footer {
	background-color: #f5f5f7;
	padding: 20px 10px;
}
.footer-wrap {
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
}
.footer-wrap > div {
	margin: 10px 0;
}
.footer-link {
	overflow: hidden;
}
.footer-link ul {
	display: flex;
	justify-content: flex-start;
}
.footer-link select {
	border: none;
	background: none;
}
.footer-link ul li button {
	border: none;
	background: none;
}
.footer-link ul li span {
	font-size: 12px;
	color: #515154;
}
.footer-link ul li.menu-img span {
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url(../images/icon_large.png) no-repeat;
	background-position: bottom center;
	background-size: cover;
	padding: 5px;
	padding-left: 0;
	box-sizing: content-box;
}
.footer-link ul li.menu-opcity span {
	display: inline-block;
	font-size: 20px;
	padding-top: 4px;
	opacity: 0.4;
}
.footer-link ul {
	padding-left: 5px;
}
.footer-link ul li button span {
	font-size: 12px;
	text-align: left;
}
.footer-nav {
	display: flex;
	margin: 15px 0 20px 0;
}
.footer-nav > div {
	width: calc(33.333% - 10px);
}
.footer-nav .nav {
	padding-bottom: 10px;
}
.footer-nav .nav:first-child {
	padding-left: 10px;
}
.footer-nav .nav:last-child {
	padding-right: 10px;
}
.footer-nav .nav h3 {
	box-sizing: border-box;
	color: #1d1d1f;
	font-size: 13px;
	font-weight: 800;
}
.footer-nav .nav ul {
	display: flex;
	flex-direction: column;
}
.footer-nav .nav ul li span {
	color: #515154;
	font-size: 12px;
	font-weight: 400;
	text-align: left;
}
.footer-wrap .footer-comm {
	border-top: 1px solid #d2d2d7;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	padding-top: 14px;
}
.footer-wrap .footer-comm > span {
	display: inline-block;
	font-size: 12px;
}

.footer-wrap .footer-comm .comm-inner {
	display: flex;
	align-items: center;
}
.footer-wrap .footer-comm .footer-copyright p {
	font-size: 12px;
}
.footer-area {
	display: flex;
}
.footer-area .footer-copyright {
	margin-right: 30px;
}
.footer-area .footer-copyright p {
	display: inline-block;
	font-size: 12px;
	color: #515154;
}
.quick-link ul {
	display: flex;
	justify-content: space-between;
	margin-left: 14px;
}
.quick-link ul li {
	border-right: 1px solid #d2d2d7;
	margin-right: 7px;
	padding-right: 10px;
	display: inline-block;
	white-space: nowrap;
}
.quick-link ul li a {
	display: block;
	color: #515154;
	font-weight: 600;
}
.quick-link ul li a span {
	display: inline-block;
}
.quick-link ul li:last-child {
	border-right: none;
}
.quick-lang span {
	display: inline-block;
	font-size: 12px;
	color: #515154;
}

@media screen and (max-width: 1024px) {
	.footer-wrap > div {
		margin: 0;
	}
	.footer-link {
		padding: 10px 0;
	}
	.footer-copyright {
		margin-right: 20px;
	}
	.footer-nav {
		flex-direction: column;
		justify-content: flex-start;
	}
	.footer-nav > .nav {
		width: 100%;
		padding: 10px 0;
		padding-left: 10px;
		box-sizing: border-box;
		border-top: 1px solid #ccc;
	}
	.footer-nav > .nav > ul {
		display: none;
	}
	.footer-nav .nav h3 {
		font-size: 12px;
	}
	.footer-wrap .footer-comm {
		margin-top: 0px;
		padding-left: 10px;
		flex-direction: column;
	}
	.footer-wrap .footer-comm > div {
		margin-top: 10px;
	}
	.quick-link ul li:first-child a {
		padding-left: 0;
	}
	.footer-area {
		order: 2;
		flex-direction: column;
		/* margin-top: 20px; */
	}
	.quick-link ul {
		justify-content: flex-start;
		flex-wrap: wrap;
	}
	.quick-link ul li {
		padding-left: 0;
		padding-right: 10px;
	}
	.quick-link ul li:first-child {
		padding-left: 0;
	}
	.footer-comm .quick-lang {
		display: inline-block;
		order: 1;
	}
}

@media screen and (max-width: 768px) {
}
